@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
  --mainFont: 'Kumbh Sans', sans-serif;
  --darkCyan: hsl(185, 75%, 39%);
  --veryDarkBlue: hsl(229, 23%, 23%);
  --darkGrayishBlue: hsl(227, 10%, 46%);
  --darkGray: hsl(0, 0%, 59%);
  --whiteColor: #fff;
  --borderColor: hsl(0, 0%, 91%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--mainFont);
  font-size: 1.125rem;
  line-height: 1.8;
  background-color: var(--darkCyan);
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 90vh;
}

.background__image-top {
  position: fixed;
  right: 50%;
  bottom: 43%;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 0.6);
}

.background__image-top:hover {
  filter: blur(30px);
}

.background__image-bottom {
  position: fixed;
  top: 50%;
  left: 50%;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 0.6);
}

.background__image-bottom:hover {
  filter: blur(30px);
}

.card__main {
  position: relative;
  width: 350px;
  height: 376px;
  border-radius: 15px;
  background-color: var(--whiteColor);
  box-shadow: 0px 15px 40px 1px var(--darkGrayishBlue);
}

.card__img {
  margin: auto;
  border-radius: 15px 15px 0px 0px;
}

.card__profile-img {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 55px;
}

.card__profile-img img {
  border-radius: 50%;
  border: 5px solid var(--whiteColor);
}

.card__body {
  position: relative;
  bottom: 55px;
}

.card__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.card__text h1 {
  font-weight: 700;
  color: var(--veryDarkBlue);
}

.card__text span {
  font-weight: 400;
  margin: 0px 10px;
  color: var(--darkGrayishBlue);
}

.card__text p {
  font-size: 14px;
  font-weight: 300;
  margin: -7px 0 15px;
  color: var(--darkGrayishBlue);
}

.card__follow {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  padding-top: 16px;
  border-top: 1px solid var(--borderColor);
}

.card__follow h4 {
  font-weight: 600;
  margin: 0px;
  color: var(--veryDarkBlue);
}

.card__follow p {
  font-size: 11px;
  font-weight: 300;
  letter-spacing: 2px;
  color: var(--darkGrayishBlue);
}

.footer {
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  padding: 10px;
  color: var(--veryDarkBlue);
}

.footer a {
  font-weight: 700;
  text-decoration: none;
  color: var(--whiteColor);
}

.footer a:hover {
  font-weight: 300;
}
